<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.task_reminder_app">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/job_alert"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings" android:label="@string/settings" android:parentActivityName=".Home"></activity>
        <activity
            android:name=".UpdateAlarm"
            android:label="Update Reminder"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Add_Alarm"
            android:label="Add Reminder"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:label="@string/Title_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarm_BroadcastReciver" />
    </application>

</manifest>